:root {
  --primary-100: #e9f0fc;
  --primary-200: #c8daf7;
  --primary-300: #91b6f0;
  --primary-400: #5b91e8;
  --primary-500: #246ce0;
  --primary-600: #1b51a8;
  --primary-700: #123670;
  --primary-800: #022255;
  --danger-100: #fae1de;
  --danger-200: #f7cdc8;
  --danger-300: #f09b91;
  --danger-400: #e8695b;
  --danger-500: #e03724;
  --danger-600: #a8291b;
  --danger-700: #701b12;
  --danger-800: #590c03;
  --green-100: #defadf;
  --green-200: #c8f7c9;
  --green-300: #91f093;
  --green-400: #5be85d;
  --green-500: #24e027;
  --green-600: #1ba81d;
  --green-700: #127014;
  --green-800: #0b430c;
  --orange-100: #faf1de;
  --orange-200: #f7e7c8;
  --orange-300: #efd091;
  --orange-400: #e8b85b;
  --orange-500: #e0a124;
  --orange-600: #a8791b;
  --orange-700: #705012;
  --orange-800: #43300b;
  --blue-100: #def1fa;
  --blue-200: #c8e7f7;
  --blue-300: #91cff0;
  --blue-400: #5bb7e8;
  --blue-500: #249ee0;
  --blue-600: #1b77a8;
  --blue-700: #124f70;
  --blue-800: #0b3043;
  --neutral-100: #f8f9fc;
  --neutral-200: #f3f4f7;
  --neutral-300: #e7e8eb;
  --neutral-400: #dadbdd;
  --neutral-500: #c0c3c7;
  --neutral-600: #82878f;
  --neutral-700: #434b57;
  --neutral-800: #050f1f;
  --white: #fff;
  --black: #000;
}
