.full-width {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* error */
.error {
  color: var(--error-500);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background-color: var(--error-200);
  border: 1px solid var(--error-500);
}

/* loader */
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid var(--neutral-300);
  border-top: 5px solid var(--primary-500);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
